<!-- admin.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Add necessary head elements -->
</head>
<body>
    <h1>Welcome to the Admin Page</h1>

    <!-- Container for vendor list -->
    <div id="vendor-list">
        <!-- Vendor list will be displayed here -->
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/admin.js"></script>
</body>
</html>
